.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
}
.my-events h1{
  margin-top: 7vh;
  text-transform: uppercase;
  font-size: 2rem;
}

.dot{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
}

.dot-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  width: 100%;
}

.blue {
  background-color: rgb(77, 99, 221);
}

.red {
  background-color: rgb(158, 36, 36);
}

.green {
  background-color: rgb(120, 212, 101);
}

.my-events{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  
  padding-inline: 3rem;
  margin-inline: auto;
  box-sizing:border-box;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.options label {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.options select {
  height: 2.5rem;
  font-size: 1.5rem;
  font-family: 'DM Sans', sans-serif;
  
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

.form-tarefas h1{
  text-transform: uppercase;
  font-size: 2rem;
}

form {
  padding-block: 3rem;
  min-width: 58rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 4rem;
}


.App label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}


.App div input{
  margin-inline: 5px;
  margin-bottom: 1.5rem
}

.task  {
  width: 97%;
}

.hours{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem
}

#task-description{
  height: 9rem;
}

.submit-btn{
  border: none;
  width: 30rem;
  height: 5rem;
  border-radius: 50px;
  color: rgb(5, 1, 26);
  font-size: 2rem;
  font-weight: bold;

  background-color: rgb(99, 109, 212);
  font-family: 'DM Sans', sans-serif;
  transition: background 200ms;
}

.submit-btn:hover{
  background-color: rgb(73, 81, 160);
}


@media(min-width: 1024px){

  .form-tarefas h1{
    font-size: 2.5rem;
  }

  .submit-btn{
    width: 40rem;
    font-size: 2.5rem;
  }

   .app-container{
    flex-direction: row;
    align-items: flex-start;
   }

   .my-events{
    margin-right: 2rem;
    align-items: unset;
   }

   .my-events h1{
    font-size: 2.5rem;
   }
}